# REQUIRED
OPENAI_API_KEY='api-key-123'
CDP_PORT=9222

# OPTIONAL - Fallback login if session expires during execution
# FULLENRICH_EMAIL='user@airsaas.io'
# FULLENRICH_PSW='psw123$'
# BETTERCONTACT_EMAIL='user@airsaas.io'
# BETTERCONTACT_PSW='psw123$'
